@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  text-align: left;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b3028;
  background-color: #d2dace;
  /* background-color: #51594d; */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0px auto;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}
